html {
  box-sizing: border-box;
  background-image: url('./images/world_map_PNG20.png');
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  text-align: center;
  background: #00ecb9;
  font-family: sans-serif;
  font-weight: 100;
}

.title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 48px;
  color: black;
}

.input {
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 250px;

  padding: 15px;
  margin-bottom: 24px;
  border-radius: 10px;
  border-color: black;
}

.input::placeholder {
  font-size: 15px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  /* color: red; */
}

.box {
  display: block;
  text-align: center;

  margin-left: auto;
  margin-right: auto;

  padding: 15px;
  margin-bottom: 24px;
}

.box__item {
  list-style: none;
}

.list__country {
  display: block;
  text-align: center;

  margin-left: auto;
  margin-right: auto;

  /* padding: 15px; */
  /* margin-bottom: 24px; */
}
